<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>repl.it</title>
        <link rel="stylesheet" href="/assets/register.css" rel="stylesheet">
    </head>
    <body>
      <h2>Fennex Travel</h2>
<img src="http://www.clker.com/cliparts/d/c/a/2/11949843562058740961world_map_saint_.svg.hi.png" style="width:600px;height:295px;">
      <dev id="welcome">Create Your Account!</dev>
<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"> 
 <br>
  <input type="text" name="username" placeholder="USERNAME"/><br>
      <input type="text" name="email" placeholder="EMAIL"/>
<br>
 <input type="password" name="password" placeholder="PASSWORD"/><br>
   <input type="password" name="password_confirmation" placeholder="RE-ENTER PASSWORD"/><br><br>
    <input type="radio" name="agree" value="terms" >I agree to the terms and conditions<br>
  <input type="submit" value="Sign Up">
</form>

    </body>
</html>