<!DOCTYPE html>
<html>
    <head>
    stylesheet_link_tag "event"
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>repl.it</title>
        <link rel="stylesheet" href="/assets/profile.css" rel="stylesheet">

    </head>
    <body>
      <p1> EVENT PAGE </p1>
      <h1> "Tel-Aviv Annual"</h1>
      
      

<div class="event one">
</div>
<div class="events location">
  <h2> Bloomfield Stadium </h2>
</div>
<p2> Tel-Aviv, Israel</p2>

<footer> 
    <div class="border bottom right">
      <div class="textbottom"> Contact Information Terms Privacy</div>
    <div class="border bottom left">Copyright © 2016 Fennex Travel
    </div>
    </div>
    </footer>
    </body>
</html>